@page
@model dinTour.Pages.Tilkøb.BekræftTilkøbModel
@{
}
<h1>Forudbestil VIP</h1>
<div class="alert alert-danger">
    <h5>Ønsker du at bestille VIP menu @Model.Tilkøb.VIPId</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Tilkøb/GetTilkøb">No</a>
    </form>
</div>