@page
@model dinTour.Pages.Tilkøb.BekræftTilkøbModel
@{
}
<h1 style="color: gray">Forudbestil VIP</h1>
<div class="alert alert-danger">
    <h5>Ønsker du at bestille VIP menu @Model.Tilkøb.VIPId</h5>
    <form method="post">
        Count: 
        <input asp-for="@Model.Count" class="form-control"/>
        <div class="form-group">
            <p>Ønsker du at tilvælge ChampagneMenu? (Bestående af en flaske Champagne)</p>
            <input asp-for="ChampagneMenu" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
    </form>
 
    <a class="btn btn-primary" asp-page="/Tilkøb/GetTilkøb">No</a>
</div>