@page
@model dinTour.Pages.Tilkøb.GetTilkøbModel
@{
}
<h1>Tilkøb/VIP</h1>
<br />
<div class="test">
    <table class="table table-bordered table-hover" width="60%">
        <col style="width: 7%">
        <col style="width: 70%">
        <col style="width: 9%">
        <col style="width: 14%">
        <thead>
        <tr>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <div><h5>Menu</h5></div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
            @if (@Model.VipMenu != null)
            {
                foreach (var item in Model.VipMenu)
                {
                    <tr class="btn-secondary">
                        <td>
                            @item.Menu
                        </td>
                        <td>
                            <!-- Call to action buttons -->
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <input type="checkbox" asp-for="@item.ChampagneMenu"/>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>