@page
@model dinTour.Pages.Tilkøb.GetTilkøbModel
@{
}
<h1>Tilkøb/VIP</h1>
<br />
<div class="test">
    <table class="table table-bordered" width="60%">
        <col style="width: 7%">
        <col style="width: 70%">
        <thead>
        <tr>
            <th>
                <div class="d-flex justify-content-between p-0">
                    <h5>Menu</h5>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
            @if (@Model.VipMenu != null)
            {
                foreach (var item in Model.VipMenu)
                {
                    <tr class="btn-secondary">
                        <td>
                            @item.Menu
                        </td>
                        <td>
                            <li class="list-inline-item">
                                <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Bestil" asp-page="BekræftTilkøb" asp-route-id="@item.VIPId"><i class="fa fa-edit"></i></a>
                            </li>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>