@page "{id:int}"
@model dinTour.Pages.Parkering.BookParkeringModel
@{
}
<h1>Book Parkering</h1>

<h1>Gennemfør bookning</h1>
<div class="alert alert-danger">
    <h5>Ønsker du at booke parkering: @Model.Parkering.ParkeringsNr</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="GetParkering">No</a>
    </form>
</div>