@page
@model dinTour.Pages.Events.DeleteBegivenhedModel
@{
}
<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete Item - @Model.Begivenhed.Navn</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Events/GetEvents">No</a>
    </form>
</div>
