@page
@model dinTour.Pages.ForsideModel
@{
}
<h1>Tour de France Begivenhed 02-07-2022 Roskilde</h1>
<p></p>
<div class="container">
    <div class="row">
        <div class="col-sm shadow-lg bg-light column">
            <h2 style="color: black"><b>Overordnet programoversigt</b></h2>
            <div class="card">
                <div class="card-header">Rektor holder åbningstale</div>
                <div class="card-body">
                    Fra klokken 09:00 til 09:30 holder rektor Peter Swalbe åbningstale.
                </div>
                <div class="card-footer">
                    Lokation: Tribune
                </div>
            </div>
            <p></p>
            <div class="card">
                <div class="card-header">Madteltet åbner for servering</div>
                <div class="card-body">
                    Fra klokken 10:00 åbner madteltet for servering af hotdogs og kolde drikkevarer.
                </div>
                <div class="card-footer">
                    Lokation: Madteltet
                </div>
            </div>
            <p></p>
            <div class="card">
                <div class="card-header">Feltet passerer forbi</div>
                <div class="card-body">
                    Fra omkring klokken 14:00 af vil feltet begynde at komme forbi pladsen.
                </div>
                <div class="card-footer">
                    Lokation: Vejene omkring pladsen
                </div>
            </div>
            <p></p>
            <div class="card">
                <div class="card-header">Bamse aflutter begivenheden</div>
                <div class="card-body">
                    Fra klokken 20:30 til 22:00 spiller Bamse aflsutnings koncert for at lukke dagen af. KOM GLAD!!
                </div>
                <div class="card-footer">
                    Lokation: Musik teltet
                </div>
            </div>
            <p></p>
        </div>
        
        @* Hvad fuck skal denne kolonne?? *@

        <div class="col-sm shadow-lg bg-light column">
            <h2 style="color: black"><b>Hvad fuck skal denne kolonne??</b></h2>
        </div>
        @* ye *@

        <div class="col-sm shadow-lg bg-light column">
            <h2 style="color: pink"><b>Transport Information </b></h2>
            
            <div class="card">
                <div class="card-header">Fra København Hovedbanegård til Roskilde st.</div>
                <div class="card-body">
                    <ul>
                        <div class="card shadow-lg bg-light">
                        <li>
                            <p>Afgang: 07:54 fra spor 8</p>
                            <p>Ankomst: 08:29 til spor 1</p>
                        </li>
                </div>
                <li>
                    <p>Afgang: 08:09 fra spor 7</p>
                    <p>Ankomst: 08:42 til spor 7</p>
                </li>
                <li>
                    <p>Afgang: 08:24 fra spor 7</p>
                    <p>Ankomst: 08:59 til spor 1</p>
                </li>
                <li>
                    <p>Afgang: 08:39 fra spor 8</p>
                    <p>Ankomst: 09:12 til spor 3</p>
                </li>
                <li>
                    <p>Afgang: 08:54 fra spor 8</p>
                    <p>Ankomst: 09:29 til spor 1</p>
                </li>
                </ul>

            </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header">Fra Roskilde st. til Københavns Hovedbanegård</div>
                    <div class="card-body">
                        <ul>
                            <li>
                                <p>Afgang: 21:46 fra spor 5</p>
                                <p>Ankomst: 22:22 til spor 3</p>
                            </li>
                            <li>
                                <p>Afgang: 21:54 fra spor 5</p>
                                <p>Ankomst: 22:26 til spor 4</p>
                            </li>
                            <li>
                                <p>Afgang: 22:16 fra spor 5</p>
                                <p>Ankomst: 22:52 til spor 6</p>
                            </li>
                            <li>
                                <p>Afgang: 22:25 fra spor 5</p>
                                <p>Ankomst: 22:56 til spor 4</p>
                            </li>
                            <li>
                                <p>Afgang: 22:46 fra spor 7</p>
                                <p>Ankomst: 23:22 til spor 7</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header">Bus</div>
                    <div class="card-body">
                        <p>Bus 202A Afgang hvert kvarter indtil klokken 20:00 derefter halvtimes drift</p>
                    </div>
                </div>
                
                <div class="card mt-3">
                        <div class="card-header">Taxa</div>
                        <div class="card-body">
                            <p>Roskilde Taxaservice</p>
                            <p>Tlf: 48 48 48 48</p>
                        </div>
                    </div>

                <div class="card mt-3">
                    <div class="card-header">Flex Trafik</div>
                    <div class="card-body">
                        <p>Movia Flex transport kontakt nummer</p>
                        <p>Tlf. 70 26 27 27</p>
                    </div>
                </div>
          
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col border shadow-lg bg-light column">
            <h1>Andre vigtige forholdsregler</h1>
            <ul>
                <li>
                    Der er ikke krav om Covid-masker på grunden men der opfordres til at benytte de opstillede handspritstandere.
                </li>
                <li>
                    Rygezoner er afmærket i hjørnerne af grunden får at skåne andre gæster og for ikke at sprede skådder.
                </li>
                <li>
                    Vi er klar over at det er vildt spændene at kigge på cykler men brug af heroin kanyler frabedes.
                </li>
            </ul>
        </div>
    </div>
</div>
